__pycache__/
*.pyc

.venv/
venv/
.venv-1/
.vscode/

.env
*.pth
*.pt
*.onnx

.ipynb_checkpoints/

models/checkpoints/
models/onnx/

node_modules/

artifacts

.DS_Store

reports/experiments/*
!reports/experiments/.gitkeep